.businessNameCell {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.businessNameCell strong {
  color: var(--color-text-primary);
  font-weight: 700;
}

.businessName {
  color: var(--color-text-primary);
  font-weight: 700;
}

.assigneeCell {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.assigneeCell img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
